body {
	margin:0;
	padding:0;
	font-family:verdana, arial, helvetica, sans-serif;
	background-color:white;
	font-size: 10pt;
}

h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	font-weight:900;
	color:#ccc;
}

p {
	/*font:11px/20px verdana, arial, helvetica, sans-serif; */
	margin:0 0 1em 0;
	padding:0;
}

#Content dt {
	font-weight:bold;
	font-size:120%;
	border-bottom: 1px solid #ccc;
	margin-top:2em;
}

#Content ds {
	font-weight:bold;
	font-size:100%;
	/* margin-left:10px; */
     border-bottom: 1px solid #ccc;
	margin-top:2em;
}


#Content dd {
	margin-left: 10px;
      margin-top:0.5em;
}


#Content>p {margin:0px;}
/*#Content>p+p {text-indent:30px;}*/

a {
	color:#09c;
	/*font-size:90%; */
	text-decoration:none;
	font-weight:bold; 
}

a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}

#Header {
	margin:1em 0 1em 0;
	padding:1em 0 .1em 2em;
	border-style:solid;
	border-color:#ccc;
	border-width:2px 0px; /* top and bottom,  left and right */
	line-height:.5em;
	background-color:#eee; 
	color:black; 
	font-weight: bold;
	height:1em;
	font-size:120%;
}

#Header a {
	color:600; 
        background-color:#eee; 
	padding: 0 0 0 2em;
}

#Content {
	margin:0 3em 3em 10em;
	padding:1em;
}

/**** the left bar ****/
body>#left {
	width: 6em;
}

#left {
	position: absolute;
	top: 5em;
	left: 2em;
	margin: 0em 0 0 0;
	/*padding: 1em .5em 1em .5em; */
	border: 1px solid #ccc; 
}

#Menu a{
	/*
	line-height:2em;
	margin: -.5em;
	background-color: #ccc;
	padding: .1em;
	padding-left: 1em;
	border: 1px solid black;
	font-weight: bold;
	*/
	padding: .4em .8em .4em .5em;
	margin: -1px;
	display: block;
	text-decoration: none;
	text-align: center;
	color:#000;
}

#Menu a:hover {
	background-color: #9ce;
	color:#000;
}

#Footer {
	color:#fff;
	background-color: #eff;
	border: 2px solid #999;
}

/*********************** list of papers ****************/

ul.papers {
	padding-bottom: 10px;
	margin: 0px;
	/*	font-size: 11px;
	padding-left: 10px;*/
	/*	border-left: 1px solid black;*/
	/*	text-align: justify;*/
	list-style-type: none;
}

ul.papers li a {
	/*	padding: 0.1em 0.5em;*/
	/*	padding-left: 100px;*/

}

ul.navlist{
	border-left: none;
	padding: 2px;
	margin: 0px;
	list-style-type: none; /*removes bullets*/
	width: 100%;
}

ul.navlist li { 
	display: inline; /*on one line*/
}

ul.navlist li a {
	width: 2em;
	color: #fff;
	background-color: #036;
	padding: 0.1em 0.5em;
	text-decoration: none;
	border-right: 1px solid #fff;
}

ul.navlist li a:hover {
	background-color: #369;
	color: #fff;
}

div.comments {
	font-size: 11px;
}

div.title {
	font-size: 110%;
	margin-top: .8em;
}

	/*	font:  normal 9pt georgia; */
	/*	font: italic normal 12pt georgia; */
	/*color:#333; gray*/
	/*background-color:#eef; the nice light blue */
	/*background-color: #900; */
